* {
  box-sizing: border-box;
}
.container {
  margin-top: 30px;
}
.goal,
.team,
.timeline,
.scope,
.primary {
  border: solid 5px blue;
  background-color: rgb(41, 231, 231);
  padding-left: 3%;
}
/* Căn chỉnh Goal */

.goal-1 {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgb(167, 165, 165);
}

/* Căn chỉnh Team */

.team-1 {
  display: flex;

  padding-left: 5%;
}
.team2 {
  margin-left: 20px;
}
/* Căn chỉnh Timeline */
.timeline-1 {
  display: flex;
  gap: 20px;
}
.timeline1 {
  border-bottom: 1px dotted blue;
}

.round-number {
  border-radius: 50%;
  background-color: aquamarine;
  width: 30px;
  height: 30px;
  padding: 3px 6px;
  margin-top: 20px;
}
/* Căn chỉnh Scope */
.scope-1 {
  display: flex;
  gap: 30px;
}
/* Căn chỉnh Primary */

.primary-1 {
  display: flex;
  gap: 20px;
  padding-left: 5%;
}
